* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: gray;
    padding: 10px;
    height: 10vh;
    
}

body {
    background-color: aqua;
    ;
}

.flex-container {


    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: aqua;
    height: 90vh;
}

.flex-itens { margin: 10px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    border: solid 5px black;
    height: 500px;
    width: 500px;
    background-color: blue;
}

.flex-itens img {
    width: 100%;
    height: 100%;

    border-radius: 20px; 
}

@media screen and (max-width: 600px) {
    .flex-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .flex-itens{
height: 50px;
width: 50px;
        background-color: blueviolet;
        
    }
     .flex-itens img{
height: 50px;
width: 50px;
        background-color: blueviolet;
        
    }
}

@media screen and  (min-width:601px) and (max-width:750px) {
     .flex-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .flex-itens{
height: 100px;
width: 100px;
        background-color: rgb(214, 201, 11);
        
    }
     .flex-itens img{
height: 100px;
width: 100px;
        background-color: rgb(214, 201, 11);
        
    }
}

@media screen and (min-width:751px) and (max-width:1200px) {
     .flex-itens{

        background-color: rgb(214, 11, 45);
        height: 160px;
        width: 160px;
        display: block;
        
    }
    .flex-itens img{

        background-color: rgb(214, 11, 45);
        height: 160px;
        width: 160px;
        
    }

}

@media screen and (min-width:1201px) {
    .flex-itens {
        background-color: rgb(0, 0, 0);
        height: 250px;
        width: 250px;
    }
      .flex-itens img {
        background-color: rgb(0, 0, 0);
        height: 500px;
        width: 500px;
    }
}